@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #000000;
    font-family: 'Roboto',
        sans-serif;
}

nav {
    margin: 5vh auto;
    text-align: center;
}

nav>a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
}

.actief {
    background-color: #ffffff;
    color: #000000;
}

header {
    height: 10vh;
    width: 80%;
    margin: 0 auto;
}

main>h1 {
    font-size: 20px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    padding-top: 5vh;
}

main {
    background-color: #ffffff;
    border-radius: 32px 32px 0px 0px;
    min-height: 85vh;
    height: auto;
}

.uitkomst {
    background-color: #d1d1d1;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 9px;
    text-align: center;
    margin-bottom: 15px;
}

.uitkomst>h2 {
    font-size: 32px;
    margin-bottom: 5px;
}

.uitkomst>h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.uitkomst>.frEnGr>p {
    font-size: 20px;
}

.frigoTabel {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}

.frigoTabel>h1 {
    text-align: center;
}

img {
    width: 100%;
}

input {
    margin: 3% 5% 10% 10%;
    width: 80%;
    height: 30px;
    font-size: 24px;
}

.frEnGr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;

}

.bereken {
    display: block;
    position: fixed;
    z-index: 7;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: #d1d1d1;
    border-radius: 9px 9px 0px 9px;
    border: 2px solid #000000;
}

.bereken>img {
    height: auto;
    width: 60%;
    margin: 20%;
}

.berekeningPaneel {
    display: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    background-color: #ffffff;
}

.berekening>.artikelLijst {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    margin-top: 15px;
    height: auto;
}

.berekening>.artikelLijst>img {
    width: 40px;
    height: 40px;
}

.berekening>.artikelLijst>p {
    width: 50%;
    overflow: hidden;
    line-height: 40px;
    font-size: 20px;
}

.berekening>.artikelLijst>input {
    width: 40px;
    margin: 0px;
}

.berekeningPaneel>p {
    border-top: 2px solid black;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 26px;
}

.open {
    width: 100%;
    height: auto;
    border-radius: 25px 25px 0px 0px;
}

.open>img {
    position: relative;
    width: 15px;
    height: auto;
    top: 15px;
    right: 10%;
}

.kruisjeGroen {
    display: flex;
    height: 50px;
    width: 50px;
}

.berekeningPaneel>img {
    width: 70px;
    padding: 10px;
}

.vuilbakje {
    width: 15% !important;
    margin-left: 42.5%;
}